.form-group.text-center
  %label{for: "text_field"}= "Text"
  %br
  %input{type: "hidden", name: "list[content][#{id}][type]", value: type}
  %textarea{form: "new_list", cols: "60", rows: "4", placeholder: "Type your stuff", name: "list[content][#{id}][content]"}
  %br
  %input{type: "hidden", class: "remove_fields"}
  = link_to "[Remove]", "#", class: "remove_element"
